.artCont {
    grid-column: 1/7;
}

.artLeft img {
    max-width: 500px;
    float: left;
    padding-top: 8px;
    padding-right: 3vmin;
    padding-bottom: 2vmin;

}

.artRight p {
    padding-left: 0px;
    padding-top: 30px;
    font-size: 16px;
    line-height: 24px;
}

.artText p {
    padding-top: 0;
    margin-top: 0;
}

@media only screen and (max-width: 900px) {
    .artLeft {
        grid-column: 1 / 7;
    }

    .artLeft img {
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }


    .artRight {
        grid-row: 3 / 5;
        grid-column: 1 / 7;
        padding-left: 0;
    }

    .artText p {
        padding-top: 0;
        margin-top: 1em;
    }
}