/* @font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: ApercuBold;
  src: url("../fonts/Apercu_Bold_Pro.otf");
}

@font-face {
  font-family: ApercuReg;
  src: url("../fonts/Apercu_Regular_Pro.otf");
}

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora-Regular.ttf");
} */

@import url('https://fonts.googleapis.com/css?family=Lora|Mukta:400,700&display=swap');

html {
  background-color: rgb(245, 245, 248) !important;
  /* color: #e8e8f1; */
  /* background: url('../../images/sbg7.svg') no-repeat 55vw 30vh fixed; */
  /* -webkit-background-size: 60vw;
  -moz-background-size: 60vw;
  -o-background-size: 60vw;
  background-size: 60vw; */
  background-size: contain;
  overflow-x: hidden;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lora';
}

p {
  font-size: 23px;
  line-height: 40px;
  /* margin-bottom: 60px; */
}

h1 {
  font-size: 45px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: normal;

}

h3 {
  font-size: 32px;
  font-weight: normal;

}

h4 {
  font-size: 32px;
  font-weight: normal;

}

h5 {
  font-size: 18px;
  /* margin: 0 auto; */
  font-style: italic;
  font-weight: normal;

}

body {
  overflow-x: hidden;
}

::selection {
  background: #cbcadc;
  /* WebKit/Blink Browsers */
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1A1851;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(231, 242, 255);
}

#wrapper,
.headWrapIndex {
  margin: 2vw 5vw;
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
}

.headWrapPost {
  padding: 10px 30px;
  background: linear-gradient(to bottom, #e7f2ff 30%, #A2A1B6 100%);
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  color: rgb(232, 232, 241);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Mukta', sans-serif;
  grid-column: 1 / 4;
  grid-row: 1;
}

.logo a {
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.05s;
  font-family: 'Mukta', sans-serif;
  color: white;
  letter-spacing: 8px;
  text-shadow:
    -1px -1px 0 #1A1851,
    1px -1px 0 #1A1851,
    -5px 5px 0 #1A1851,
    1px 1px 0 #1A1851;
  text-decoration: none;
}

.logo a:hover {
  color: #ffc0cb;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;

}

.nav li {
  list-style: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 3px;
}

.nav li a {
  color: rgba(26, 24, 81, 0.7);
  text-transform: uppercase;
  padding: 10px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0.05s;
  text-decoration: none;

}

.nav li:nth-child(1) a:hover,
.nav li:nth-child(1) a:active {
  background-position: center;
  text-decoration: none;
  background-image: url('../../images/s1.svg');
  background-size: 60px;
}

.nav li:nth-child(2) a:hover,
.nav li:nth-child(2) a:active {
  background-position: center;
  text-decoration: none;
  background-image: url('../../images/s2.svg');
  background-size: 60px;
}

.nav li:nth-child(3) a:hover,
.nav li:nth-child(3) a:active {
  background-position: center;
  text-decoration: none;
  background-image: url('../../images/s2.svg');
  background-size: 60px;
}


.nav li a:visited {
  color: rgba(26, 24, 81, 0.7);
}

.page-cont {
  display: flex;
  padding: 20px 60px;
}

.page-cont {
  font-family: 'Mukta', sans-serif;
  text-align: justify;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
}

main {
  grid-column: 2 / 3;
}

.article {
  text-align: justify;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
}

.article-meta h3 {
  font-family: 'Mukta', sans-serif;
  font-size: 24px;
  text-align: left;

}

.article-meta h2 {
  font-family: 'Mukta', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: left;

}

.article-meta {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin-bottom: 20px;
}

.article-text {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.article-text a {
  text-decoration: none;
  color: #000;
}

.article-text a:visited {
  color: #000;
}

.article-text sup {
  vertical-align: super;
  font-size: 12px;
}

.article-text h3 {
  font-family: 'Mukta', sans-serif;
  font-size: 24px;
  text-align: left;
  margin-bottom: 0px;

}

.article-text h4 {
  font-family: 'Mukta', sans-serif;
  font-size: 24px;
  text-align: center;

}

.article-text h5 {
  line-height: 25px;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.article-text h6 {
  line-height: 38px;
  font-family: 'Mukta', sans-serif;
  font-size: 21px;
  margin: 0;
  /* font-style: italic; */
  /* text-align: center; */
}

.article-text p {
  line-height: 28px;
  font-size: 20px;
}

.article-text span.imgFloat {
  /* display: flex; */
}

.article-text span.cite {
  font-size: 12px;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  color: #000;
}

.article-text span.bio1 {
  display: block;
  padding: 28px;
  /* background:rgba(203, 202, 220, 0.75); */
  background: rgba(255, 243, 190, 0.82);
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.article-text span.bio1 a {
  text-decoration: underline;
}

.article-text span.bio2 {
  display: block;
  padding: 28px;
  background: rgba(231, 242, 255, 0.82);
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.article-text span.bio2 a {
  text-decoration: underline;
}


.art-left {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.art-left img {
  max-width: 100%;
  min-height: 100%;
}

.art-right {
  grid-row: 2 / 3;
  grid-column: 3 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.art-right p {
  margin: 0;
  padding-left: 60px;
}

.art-text p {
  line-height: 28px;
  font-size: 20px;
}

.art-bottom {
  width: 100%;
  background: rgba(231, 242, 255, 0.781);
  grid-column: 1/6;
  margin-top: 50px;
}

.art-bios {
  padding: 28px;
  background: #e7f2ffc7;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.art-bios h6 {
  line-height: 38px;
  font-size: 21px;
  margin: 0;
}

.art-bios a {
  margin: 0;
  color: #000;

}

.article .btn {
  /* grid-column: 3 / 6;
  grid-row: 3; */
}

.article button {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-top: 30px;
  padding: 20px 10px;
  width: 100%;
  min-height: 4vh;
  font-family: 'Mukta', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  background: transparent;
  border: 1px solid #1A1851;
  box-shadow: -1px -1px 0 #1A1851, 1px -1px 0 #1A1851, -5px 5px 0 #1A1851, 1px 1px 0 #1A1851;

}

.article button:hover {
  background: pink;
  cursor: pointer;
}

footer {
  padding-top: 5vh;
  padding-bottom: 5vh;
  grid-column: 2 / 4;
}

.footerArt {
  position: fixed;
  bottom: 1vh;
  left: 3vw;
}

.footerArt a {
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.05s;
  font-family: 'Mukta', sans-serif;
  color: white;
  letter-spacing: 8px;
  text-shadow:
    -1px -1px 0 #1A1851,
    1px -1px 0 #1A1851,
    -5px 5px 0 #1A1851,
    1px 1px 0 #1A1851;
  text-decoration: none;
}

.footerArt a:hover {
  color: #ffc0cb;
}



/* GATSBY FIXES */
.gatsby-image-wrapper picture img {
  position: relative !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1650px) {

  main {
    grid-column: 1 / 4;
  }

  .pre-wrapper {
    margin: 4vw 6vw;
  }

  header h1 {
    font-size: 32px;
    margin: 0px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    justify-content: flex-start;
  }

  .nav li a {
    padding-left: 0px;
    font-size: 16px;
  }

  .article-meta {
    grid-column: 1 / 7;
  }


  .article-meta h2 {
    font-size: 28px;
    margin: 0;
  }

  .article-meta h3 {
    font-size: 15px;
    margin: 0;

  }

  .article-text {
    grid-column: 1 / 7;
  }

  .article-text h1 {
    font-size: 38px;
    line-height: 70px;
  }


  .article-text p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;

  }

  .article-text h3 {
    line-height: 10px;
    font-size: 22px;
  }

  .article-text h5 {
    line-height: 16px;
    font-size: 14px;
  }

  .article-text h6 {
    line-height: 36px;
    font-size: 18px;
  }

  .art-left {
    grid-column: 1 / 7;
  }

  .art-right {
    grid-row: 3 / 5;
    grid-column: 1 / 7;
  }

  .art-right p {
    padding-left: 0px;
    padding-top: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .art-bottom {
    grid-column: 1/7;

  }

  .art-bios {
    font-size: 16px;
    line-height: 24px;
  }

  .article button {
    margin-top: 10px;
  }

  .page-cont {
    text-align: justify;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* grid-gap: 3vw; */
    margin: 0 auto;
    padding: 0px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .article-meta h2 {
    font-size: 32px;
    margin: 5px;
  }

  .article-meta h3 {
    font-size: 28px;
    margin: 5px;
  }

  .article-text p {
    font-size: 18px;
    line-height: 26px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .art-left {
    grid-row: 2 / 3;
    grid-column: 1 / 7;

  }

  .art-right {
    grid-row: 3 / 4;
    grid-column: 1/ 7;

  }

  .art-right p {
    margin: 0;
  }

  .art-text p {
    line-height: 28px;
    font-size: 20px;
  }

  .art-left img {
    object-fit: cover;
  }

  .art-bottom {
    grid-column: 1 / 7;

  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .art-left {
    grid-row: 2 / 3;
    grid-column: 1/3;
  }

  .art-right {
    grid-row: 2 / 3;
    grid-column: 3/7;
    padding-left: 3vw;


  }

  .art-bottom {
    grid-column: 1/7;

  }

  .art-text p{
    padding-top:0;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1900px) {
  .art-left {
    grid-row: 2 / 3;
    grid-column: 1/3;
  }

  .art-right {
    grid-row: 2 / 3;
    grid-column: 3/6;
    padding-left: 0px;

  }

  .art-bottom {
    grid-column: 1/6;

  }
}

.mendelsohn-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mendelsohn-timeline {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mendelsohn-dates {
  list-style: none;
  padding: 0;
}

.mendelsohn-dates li {
  margin-bottom: 2em;
}

.mendelsohn-timeline .mendelsohn-col {
  padding: 20px;
}