@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: CormorantGaramond;
  src: url("../fonts/CormorantGaramond-Regular.otf");
}

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Rubik';
}

p {
  font-size: 23px;
  line-height: 40px;
  font-family: 'Lora';
  margin-bottom: 60px;
}

h1 {
  font-size: 70px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: normal;

}

h3 {
  font-size: 32px;
  font-weight: normal;

}

h4 {
  font-size: 32px;
  font-weight: normal;

}

h5 {
  font-size: 18px;
  margin: 0 auto;
  font-style: italic;
  font-weight: normal;

}

#wrapper {
  margin: 4vw 20vw;
  /* border: solid 1px black; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Rubik';
  padding-bottom: 2vh;
}

.logo a {
  color: black;
  text-decoration: none;
}

.nav {
  text-align: right;

}

.nav li {
  list-style: none;
  font-size: 26px;
  line-height: 52px;
}

.issue-nav {
  height: 52vh;
  display: flex;
  border: solid .45vh #000;
}


.flexbox-slider {
  display: flex;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.flexbox-slider .flexbox-slide {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.05s;
  width: 20%;
  height: 100%;
  position: relative;
  overflow: hidden;
  visibility: visible;
}

.flexbox-slide a {
  cursor: pointer;
}

.flexbox-slider .flexbox-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  opacity: 0;
}

.flexbox-slider .flexbox-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  /* -webkit-filter: brightness(150%) saturate(270%) contrast(300%) invert(120%) blur(.5px) saturate(60%) contrast(130%) saturate(60%);
  filter: brightness(150%) saturate(270%) contrast(300%) invert(120%) blur(.5px) saturate(60%) contrast(130%) saturate(60%); */
}

.flexbox-slider .flexbox-slide: img {
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: linear;
  transition-delay: 0.06s;
  /* -webkit-filter: saturate(100%)invert(0%);
  filter: saturate(100%) invert(0%); */
}


.flexbox-slider .flexbox-slide .text-block {
  position: absolute;
  /* bottom: 0px; */
  /* max-width: 900px; */
  width: 25vw;
  height: auto;
  padding: 2vw;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
}

.flexbox-slider .flexbox-slide .text-block h3 {
  font-size: 42px;
  font-weight: 700;
}

.flexbox-slider:hover .flexbox-slide:hover {
  flex-shrink: 0;
  width: 100%;
  /* -webkit-filter: saturate(100%)invert(0%);
  filter: saturate(100%) invert(0%); */
}

.flexbox-slider .flexbox-slide-active {
  width: 100%;
  flex-shrink: 0;
  /* -webkit-filter: saturate(100%)invert(0%);
  filter: saturate(100%) invert(0%); */
}

.flexbox-slide-active .text-block {
  visibility: visible !important;
  opacity: 1 !important;
  top: 13vh;

}

.flexbox-slider:hover .flexbox-slide-active {
  width: 0%;
}

.flexbox-slider.flexbox-slider-1 .flexbox-slide .text-block {
  /* bottom: 30px; */
}

.flexbox-slider.flexbox-slider-1:hover .flexbox-slide:hover .text-block {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
  top: 13vh;
  opacity: 1;
  visibility: visible;
}

.content {
  /* padding-top: 3vh; */
}

.article {
  text-align: justify;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 3vw;
  /* border: 1px black solid; */
  /* background: red; */
  margin: 0 auto;
}

.article-text {
  /* background: blue; */
}

.article-imgs img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.article-img img {
  max-width: 600px;
  height: auto;
}

main {
  padding-top: 3vh;
}

footer {
  padding-top: 5vh;
}