.issueNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.issueNavMobile {
  list-style: none;
  padding: 0;
}

.issueNavMobile li {
  padding: 10px;
}

.issueNavMobile a {
  color: white;
  text-decoration: none;
  font-family: 'Mukta', sans-serif;
}

.navColor0 {
  background-color: rgb(40, 34, 94);
}
.navColor1 {
  background-color: rgb(53, 48, 104);
}
.navColor2 {
  background-color: rgb(67, 63, 115);
}
.navColor3 {
  background-color: rgb(81, 76, 126);
}
.navColor4 {
  background-color: rgb(94, 90, 136);
}
.navColor5 {
  background-color: rgb(108, 104, 147);
}
.navColor6 {
  background-color: rgb(122, 118, 158);
}
.navColor7 {
  background-color: rgb(135, 132, 168);
}
.navColor8 {
  background-color: rgb(149, 146, 179);
}
.navColor9 {
  background-color: rgb(162, 160, 189);
}
.navColor10 {
  background-color: rgb(176, 173, 200);
}
.navColor11 {
  background-color: rgb(190, 188, 211);
}
.navColor12 {
  background-color: rgb(203, 202, 221);
}
.navColor13 {
  background-color: rgb(217, 216, 232);
}
