.issueNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.issueNavMobile {
  list-style: none;
  padding: 0;
}

.issueNavMobile li {
  padding: 10px;
}

.issueNavMobile a {
  color: white;
  text-decoration: none;
  font-family: 'Mukta', sans-serif;
}